.con { margin-top: 40px; margin-bottom: 50px; display: -webkit-box; display: -ms-flexbox; display: flex; }

.con .left { width: 270px; height: 280px; margin-right: 30px; background-color: #f3f3f3; }

.con .left h1 { width: 230px; text-indent: 18px; border-bottom: 1px solid #a3a3a3; margin-left: 20px; font-size: 20px; font-weight: 800; color: #000; line-height: 40px; }

.con .left ol { margin-left: 20px; line-height: 40px; font-size: 16px; font-weight: 600; }

.con .left ol li { text-indent: 16px; font-size: 14px; font-weight: 400; line-height: 22px; }

.con .right { width: 700px; background-color: #f3f3f3; padding-bottom: 30px; }

.con .right h1 { width: 630px; text-indent: 18px; border-bottom: 1px solid #a3a3a3; margin-left: 20px; font-size: 20px; font-weight: 800; color: #000; line-height: 40px; }

.con .right h2 { text-indent: 33px; font-size: 15px; line-height: 55px; font-weight: 500; color: #000; }

.con .right p { padding-left: 33px; padding-right: 33px; font-size: 14px; line-height: 28px; margin-bottom: 60px; }

.con .right ul { margin-left: 20px; line-height: 50px; font-size: 16px; font-weight: 600; color: #4c4e4e; }

.con .right ul li { text-indent: 16px; font-size: 14px; font-weight: 400; line-height: 30px; }

.uu { padding-right: 30px; }

.uu ul li { text-indent: 0px; }
