section {
  width: 100%;
  background-color: #f7f7f7;
}

section .bx .catalo {
  margin: 10px 0px;
}

section .bx .conent {
  background-color: #fff;
  width: 700px;
  overflow: hidden;
}

section .bx .conent h1 {
  font-size: 30px;
  margin-left: 30px;
  margin-top: 30px;
}

section .bx .conent > div {
  margin-top: 30px;
  width: 100%;
  height: 45px;
  border-bottom: 1px solid #dfdfdf;
  overflow: hidden;
}

section .bx .conent > div .s_fr {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  margin-left: 30px;
}

section .bx .conent > div .s_tw {
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
}

section .bx .conent > div .s_th {
  display: inline-block;
  margin-left: 445px;
  vertical-align: top;
}

section .bx .conent > p {
  margin-left: 30px;
  font-size: 16px;
  margin-top: 20px;
}

section .bx .conent > img {
  display: block;
  margin-left: 30px;
  margin-top: 30px;
}

section .bx .conent > h4 {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
}

section .bx .conent .iimg_ {
  margin-top: 0px;
}

section .bx .conent .ppp_ {
  margin-top: 0px;
}

section .bx .conent > h5 {
  margin-left: 30px;
}

section .bx .conent .prev_ {
  margin-top: 60px;
}

section .bx .conent .next_ {
  margin-bottom: 50px;
}
