@charset "UTF-8";
#tem_one { background-color: #f7f7f7; }

.tem_one_ul { overflow: hidden; }

.tem_one_ul li { margin-right: 37px; margin-bottom: 20px; float: left; width: 222px; height: 233px; border-radius: 6px; }

.tem_one { padding-top: 40px; overflow: hidden; }

.tem_one .bx { overflow: hidden; margin-bottom: 12px; }

.tem_one .bx .left { float: left; width: 100px; color: black; font-weight: 900; }

.tem_one .bx .right { width: 100px; float: right; }

.tem_one ul li { float: left; width: 222px; height: 233px; margin-right: 37px; margin-bottom: 20px; background-color: #fff; border-radius: 6px; text-align: center; position: relative; }

.tem_one ul li p { margin-top: 12px; margin-bottom: 24px; margin-left: 12px; margin-right: 12px; font-size: 14px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

.tem_one ul li div { position: absolute; right: 12px; }

.tem_one ul li div span { display: inline-block; color: #bbbbbb; margin-left: 7px; margin-bottom: 12px; margin-right: 12px; }

.tem_one ul li div span img { width: 12px; height: 12px; }

.tem_one ul li img { width: 222px; height: 133px; }

.tem_one ul li img:hover { -webkit-animation: opc 1s infinite; animation: opc 1s infinite; }

.tem_one ul li:nth-child(4) { margin-right: 0px; }

.tem_one ul li:nth-child(8) { margin-right: 0px; }

.tem_one ul li:nth-child(12) { margin-right: 0px; }

.tem_two, .tem_three { margin-top: 20px; }

.tem_two .bx, .tem_three .bx { overflow: hidden; margin-bottom: 12px; }

.tem_two .bx .left, .tem_three .bx .left { float: left; width: 100px; color: black; font-weight: 900; }

.tem_two .bx .right, .tem_three .bx .right { width: 100px; float: right; }

.tem_two ul, .tem_three ul { overflow: hidden; }

.tem_two ul li, .tem_three ul li { float: left; width: 222px; height: 290px; margin-right: 37px; margin-bottom: 20px; background-color: #fff; text-align: center; border-radius: 6px; position: relative; }

.tem_two ul li .po, .tem_three ul li .po { margin-top: 12px; margin-left: 14px; margin-right: 16px; font-size: 18px; color: black; margin-bottom: 8px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

.tem_two ul li span, .tem_three ul li span { display: inline-block; border: 1px solid #fa553f; color: #fa553f; border-radius: 6px; margin-right: 16px; margin-bottom: 14px; padding-left: 14px; padding-right: 14px; padding-top: 5px; padding-bottom: 5px; }

.tem_two ul li .pt, .tem_three ul li .pt { font-size: 14px; font-weight: 900; }

.tem_two ul li .pt i, .tem_three ul li .pt i { color: #fa553f; }

.tem_two ul li img, .tem_three ul li img { width: 222px; height: 133px; }

.tem_two ul li img:hover, .tem_three ul li img:hover { -webkit-animation: opc 1s infinite; animation: opc 1s infinite; }

.tem_two ul li div, .tem_three ul li div { width: 42px; height: 24px; background-color: #fa553f; border-radius: 0 6px 0 6px; color: #f7f7f7; line-height: 22px; position: absolute; top: 0; right: 0; overflow: hidden; }

.tem_two ul li:nth-child(4), .tem_three ul li:nth-child(4) { margin-right: 0px; }

.tem_two ul li:nth-child(8), .tem_three ul li:nth-child(8) { margin-right: 0px; }

.tem_two ul li:nth-child(12), .tem_three ul li:nth-child(12) { margin-right: 0px; }

.circle { margin-top: 55px; padding-bottom: 55px; text-align: center; color: #fa553f; }

.circle .hi { display: none; }

/* 动画 */
@-webkit-keyframes opc { 0% { opacity: 0.4; }
  50% { opacity: 1; }
  100% { opacity: 0.4; } }
@keyframes opc { 0% { opacity: 0.4; }
  50% { opacity: 1; }
  100% { opacity: 0.4; } }

/* 动画 */
@-webkit-keyframes go { 10% { -webkit-transform: translateY(-600px); transform: translateY(-600px);
    opacity: 0; }
  15% { -webkit-transform: translateY(-500px); transform: translateY(-500px);
    opacity: 0.2; }
  20% { -webkit-transform: translateY(-400px); transform: translateY(-400px);
    opacity: 0.4; }
  30% { -webkit-transform: translateY(-300px); transform: translateY(-300px);
    opacity: 0.5; }
  60% { -webkit-transform: translateY(-200px); transform: translateY(-200px);
    opacity: 0.6; }
  70% { -webkit-transform: translateY(-100px); transform: translateY(-100px);
    opacity: 0.8; }
  90% { -webkit-transform: translateY(-50px); transform: translateY(-50px);
    opacity: 0.9; }
  100% { -webkit-transform: translateY(0px); transform: translateY(0px);
    opacity: 1; } }
@keyframes go { 10% { -webkit-transform: translateY(-600px); transform: translateY(-600px);
    opacity: 0; }
  15% { -webkit-transform: translateY(-500px); transform: translateY(-500px);
    opacity: 0.2; }
  20% { -webkit-transform: translateY(-400px); transform: translateY(-400px);
    opacity: 0.4; }
  30% { -webkit-transform: translateY(-300px); transform: translateY(-300px);
    opacity: 0.5; }
  60% { -webkit-transform: translateY(-200px); transform: translateY(-200px);
    opacity: 0.6; }
  70% { -webkit-transform: translateY(-100px); transform: translateY(-100px);
    opacity: 0.8; }
  90% { -webkit-transform: translateY(-50px); transform: translateY(-50px);
    opacity: 0.9; }
  100% { -webkit-transform: translateY(0px); transform: translateY(0px);
    opacity: 1; } }

.banner { background-color: #f5c175; }

.banner .banner_bx .right { -webkit-animation: go 4s; animation: go 4s; -webkit-animation-iteration-count: 2; animation-iteration-count: 2; }
