@charset "UTF-8";
#every { background-color: #f7f7f7; padding: 20px 0 20px 0; }

.find_one { text-align: center; }

.find_one h1 { font-size: 26px; color: #39372d; line-height: 88px; font-weight: 500; }

.find_two ul { overflow: hidden; }

.find_two ul li { float: left; color: #9ca296; font-size: 18px; width: 166px; height: 33px; text-align: center; }

.find_two ul li:nth-child(1) { margin-left: 250px; }

.find_two ul .active { color: #fd5238; border-bottom: 3px solid #fd5238; }

.find_three { margin-top: 20px; }

.find_three .item { display: none; }

.find_three .bx { overflow: hidden; margin-bottom: 12px; }

.find_three .bx .left { float: left; width: 100px; color: black; font-weight: 900; }

.find_three .bx .right { width: 100px; float: right; }

.find_three ul { overflow: hidden; }

.find_three ul li { float: left; width: 222px; height: 290px; margin-right: 37px; margin-bottom: 20px; background-color: #fff; text-align: center; border-radius: 6px; position: relative; }

.find_three ul li .po { margin-top: 12px; margin-left: 14px; margin-right: 16px; font-size: 18px; color: black; margin-bottom: 8px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

.find_three ul li span { display: inline-block; border: 1px solid #fa553f; color: #fa553f; border-radius: 6px; margin-right: 16px; margin-bottom: 14px; padding-left: 14px; padding-right: 14px; padding-top: 5px; padding-bottom: 5px; }

.find_three ul li .pt { font-size: 14px; font-weight: 900; }

.find_three ul li .pt i { color: #fa553f; }

.find_three ul li img { width: 222px; height: 133px; border-radius: 6px; }

.find_three ul li img:hover { -webkit-animation: opc 1s infinite; animation: opc 1s infinite; }

.find_three ul li div { width: 42px; height: 24px; background-color: #fa553f; border-radius: 0 6px 0 6px; color: #f7f7f7; line-height: 22px; position: absolute; top: 0; right: 0; overflow: hidden; }

.find_three ul li:nth-child(4) { margin-right: 0px; }

.find_three ul li:nth-child(8) { margin-right: 0px; }

.find_three ul li:nth-child(12) { margin-right: 0px; }

.find_three ul:nth-child(3) { display: none; }

.circle { margin-top: 55px; padding-bottom: 55px; text-align: center; color: #fa553f; }

.circle .hi { display: none; }

/* 动画 */
@-webkit-keyframes opc { 0% { opacity: 0.4; }
  50% { opacity: 1; }
  100% { opacity: 0.4; } }
@keyframes opc { 0% { opacity: 0.4; }
  50% { opacity: 1; }
  100% { opacity: 0.4; } }

/* 动画 */
/* 品类 生活 s*/
.live, .murse, .fitness, .wear, .trip, .exercise, .photo, .phone { border-radius: 6px; border: 1px solid #b3aeae; overflow: hidden; margin-bottom: 36px; background-color: #fff; }

.live .live_h, .murse .live_h, .fitness .live_h, .wear .live_h, .trip .live_h, .exercise .live_h, .photo .live_h, .phone .live_h { margin-top: 24px; padding-left: 24px; border-left: 8px solid #f85443; line-height: 26px; font-size: 16px; }

.live .se1, .murse .se1, .fitness .se1, .wear .se1, .trip .se1, .exercise .se1, .photo .se1, .phone .se1 { overflow: hidden; border-bottom: 1px dashed #000; padding-bottom: 20px; margin-bottom: 20px; }

.live .live_i, .murse .live_i, .fitness .live_i, .wear .live_i, .trip .live_i, .exercise .live_i, .photo .live_i, .phone .live_i { float: left; margin-top: 37px; margin-left: 40px; }

.live .live_i img, .murse .live_i img, .fitness .live_i img, .wear .live_i img, .trip .live_i img, .exercise .live_i img, .photo .live_i img, .phone .live_i img { width: 100px; height: 100px; }

.live .live_i p, .murse .live_i p, .fitness .live_i p, .wear .live_i p, .trip .live_i p, .exercise .live_i p, .photo .live_i p, .phone .live_i p { text-align: center; margin-top: 14px; font-size: 12px; color: #9ca296; }

.live .live_d, .murse .live_d, .fitness .live_d, .wear .live_d, .trip .live_d, .exercise .live_d, .photo .live_d, .phone .live_d { float: left; width: 100%; margin-left: 40px; padding-bottom: 40px; }

.live .live_d span, .murse .live_d span, .fitness .live_d span, .wear .live_d span, .trip .live_d span, .exercise .live_d span, .photo .live_d span, .phone .live_d span { display: inline-block; margin-right: 64px; line-height: 33px; }

/* 品类 生活 e*/
/* 护理 s */
/* 护理 e */
/*fitness s */
/*fitness e */
