@charset "UTF-8";
.find_one { text-align: center; }

.find_one h1 { font-size: 26px; color: #39372d; line-height: 88px; font-weight: 500; }

.find_two ul { overflow: hidden; }

.find_two ul li { float: left; color: #9ca296; font-size: 18px; width: 166px; height: 33px; text-align: center; }

.find_two ul li:nth-child(1) { margin-left: 250px; }

.find_two ul .active { color: #fd5238; border-bottom: 3px solid #fd5238; }

.find_three { margin-top: 20px; }

.find_three .item { display: none; }

.find_three .bx { overflow: hidden; margin-bottom: 12px; }

.find_three .bx .left { float: left; width: 100px; color: black; font-weight: 900; }

.find_three .bx .right { width: 100px; float: right; }

.find_three ul { overflow: hidden; }

.find_three ul li { float: left; width: 222px; height: 290px; margin-right: 37px; margin-bottom: 20px; background-color: #fff; text-align: center; border-radius: 6px; position: relative; }

.find_three ul li .po { margin-top: 12px; margin-left: 14px; margin-right: 16px; font-size: 18px; color: black; margin-bottom: 8px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

.find_three ul li span { display: inline-block; border: 1px solid #fa553f; color: #fa553f; border-radius: 6px; margin-right: 16px; margin-bottom: 14px; padding-left: 14px; padding-right: 14px; padding-top: 5px; padding-bottom: 5px; }

.find_three ul li .pt { font-size: 14px; font-weight: 900; }

.find_three ul li .pt i { color: #fa553f; }

.find_three ul li img { width: 222px; height: 133px; }

.find_three ul li img:hover { -webkit-animation: opc 1s infinite; animation: opc 1s infinite; }

.find_three ul li div { width: 42px; height: 24px; background-color: #fa553f; border-radius: 0 6px 0 6px; color: #f7f7f7; line-height: 22px; position: absolute; top: 0; right: 0; overflow: hidden; }

.find_three ul li:nth-child(4) { margin-right: 0px; }

.find_three ul li:nth-child(8) { margin-right: 0px; }

.find_three ul li:nth-child(12) { margin-right: 0px; }

.find_three ul:nth-child(3) { display: none; }

.circle { margin-top: 55px; padding-bottom: 55px; text-align: center; color: #fa553f; }

.circle .hi { display: none; }

/* 动画 */
@-webkit-keyframes opc { 0% { opacity: 0.4; }
  50% { opacity: 1; }
  100% { opacity: 0.4; } }
@keyframes opc { 0% { opacity: 0.4; }
  50% { opacity: 1; }
  100% { opacity: 0.4; } }

/* 动画 */
