#every {
    background-color: #f7f7f7;
    padding: 20px 0 20px 0;
}
.find_one {
    text-align: center;
    h1 {
        font-size: 26px;
        color: #39372d;
        line-height: 88px;
        font-weight: 500;
    }
}
.find_two {
    ul {
        overflow: hidden;
        li {
            float: left;
            color: #9ca296;
            font-size: 18px;
            width: 166px;
            height: 33px;
            text-align: center;
        }
        li:nth-child(1) {
            margin-left: 250px;
        }
        .active {
            color: #fd5238;
            border-bottom: 3px solid #fd5238;
        }
    }
}
.find_three {
    .item {
        display: none;
    }
    margin-top: 20px;

    .bx {
        overflow: hidden;
        margin-bottom: 12px;
        .left {
            float: left;
            width: 100px;
            color: black;
            font-weight: 900;
        }
        .right {
            width: 100px;
            float: right;
        }
    }
    ul {
        overflow: hidden;
        li {
            float: left;
            width: 222px;
            height: 290px;
            margin-right: 37px;
            margin-bottom: 20px;
            background-color: #fff;
            text-align: center;
            border-radius: 6px;
            position: relative;

            .po {
                margin-top: 12px;
                margin-left: 14px;
                margin-right: 16px;
                font-size: 18px;
                color: black;
                margin-bottom: 8px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            span {
                display: inline-block;
                border: 1px solid #fa553f;
                color: #fa553f;
                border-radius: 6px;
                margin-right: 16px;
                margin-bottom: 14px;
                padding-left: 14px;
                padding-right: 14px;
                padding-top: 5px;
                padding-bottom: 5px;
            }
            .pt {
                font-size: 14px;
                font-weight: 900;
                i {
                    color: #fa553f;
                }
            }
            img {
                width: 222px;
                height: 133px;
                border-radius: 6px;
                &:hover {
                    animation: opc 1s infinite;
                }
            }
            div {
                width: 42px;
                height: 24px;
                background-color: #fa553f;
                border-radius: 0 6px 0 6px;
                color: #f7f7f7;
                line-height: 22px;
                position: absolute;
                top: 0;
                right: 0;
                overflow: hidden;
            }
        }
        li:nth-child(4) {
            margin-right: 0px;
        }
        li:nth-child(8) {
            margin-right: 0px;
        }
        li:nth-child(12) {
            margin-right: 0px;
        }
    }
    ul:nth-child(3) {
        display: none;
    }
}
.circle {
    margin-top: 55px;
    padding-bottom: 55px;
    text-align: center;
    color: #fa553f;
    .hi {
        display: none;
    }
}
/* 动画 */
@keyframes opc {
    0% {
        opacity: 0.4;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.4;
    }
}
/* 动画 */
/* 品类 生活 s*/
.live {
    border-radius: 6px;
    border: 1px solid rgb(179, 174, 174);
    overflow: hidden;
    margin-bottom: 36px;
    background-color: #fff;
    .live_h {
        margin-top: 24px;
        padding-left: 24px;
        border-left: 8px solid #f85443;
        line-height: 26px;
        font-size: 16px;
    }
    .se1 {
        overflow: hidden;
        border-bottom: 1px dashed #000;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    .live_i {
        float: left;
        margin-top: 37px;
        margin-left: 40px;
        img {
            width: 100px;
            height: 100px;
        }
        p {
            text-align: center;
            margin-top: 14px;
            font-size: 12px;
            color: #9ca296;
        }
    }
    .live_d {
        float: left;
        width: 100%;
        // margin-top: 40px;
        margin-left: 40px;
        padding-bottom: 40px;
        span {
            display: inline-block;
            margin-right: 64px;
            line-height: 33px;
        }
    }
}
/* 品类 生活 e*/
/* 护理 s */
.murse {
    @extend .live;
}
/* 护理 e */
/*fitness s */
.fitness {
    @extend .live;
}
.wear {
    @extend .live;
}
.trip {
    @extend .live;
}
.exercise {
    @extend .live;
}
.photo {
    @extend .live;
}
.phone {
    @extend .live;
}
/*fitness e */
