#rep {
    background-color: #f7f7f7;
    padding-top: 22px;
}
.rep_one {
    text-align: center;
    font-size: 24px;
    color: #000;
    h1 {
        line-height: 85px;
        font-weight: 500;
    }
}
.rep_tab_top {
    border-bottom: 1px solid #f5f5f5;
    ul {
        overflow: hidden;
        li {
            float: left;
            color: #9ca296;
            font-size: 18px;
            width: 166px;
            height: 33px;
            text-align: center;
        }
        li:nth-child(1) {
            margin-left: 333px;
        }
        .repc {
            color: #fd5238;
            border-bottom: 3px solid #fd5238;
        }
    }
}
.rep_ {
    .ite {
        display: none;
        overflow: hidden;
        .left {
            float: left;
            width: 704px;
            margin-right: 22px;
            li {
                width: 704px;
                height: 419px;
                position: relative;
            }
            .z {
                position: relative;
                img {
                    width: 100%;
                    height: 100%;
                }
                .opc {
                    position: absolute;
                    bottom: 0px;
                    width: 704px;
                    height: 121px;
                    background-color: #f3efec;
                    opacity: 0.8;
                    .im {
                        margin-left: 25px;
                        img {
                            width: 20px;
                            height: 20px;
                            border-radius: 50%;
                        }
                        .s1 {
                            color: #fb736c;
                        }
                        .s2 {
                            color: #a7a3a2;
                        }
                    }
                }
                p {
                    margin-left: 25px;
                    line-height: 42px;
                    font-size: 14px;
                }
            }
        }
        .right {
            float: left;
            width: 274px;
            .h1 {
                border-left: 6px solid #fd5238;
                padding-left: 24px;
                color: #4f4f59;
                font-size: 14px;
                margin-bottom: 25px;
            }
            .h1_ {
                @extend .h1;
                margin-top: 64px;
            }
            .h2 {
                margin-top: 20px;
                h2 {
                    color: #303a46;
                    font-weight: 500;
                }

                p {
                    color: #b1b5b6;
                    font-size: 14px;
                }
            }
            .h3 {
                @extend .h2;
            }
            .h4 {
                @extend .h2;
            }
        }
    }
}
/*  */
.re_u1{
    li {
        width: 704px;
        height: 419px;
        position: relative;
    }
    .z {
        position: relative;
        img {
            width: 100%;
            height: 100%;
        }
        .opc {
            position: absolute;
            bottom: 0px;
            width: 704px;
            height: 121px;
            background-color: #f3efec;
            opacity: 0.8;
            .im {
                margin-left: 25px;
                img {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                }
                .s1 {
                    color: #fb736c;
                }
                .s2 {
                    color: #a7a3a2;
                }
            }
        }
        p {
            margin-left: 25px;
            line-height: 42px;
            font-size: 14px;
        }
    }
}