<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" href="./css/bace.css">
    <link rel="stylesheet" href="./css/public11.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/public.css">
    <link rel="stylesheet" href="./css/index_tem.css">

</head>

<body>

    <div class="box">
        <!--头部 start -->
        <div class="bj">
            <div class="bx clearfix">
                <div class="loge"><img src="./img/img/logonew.png" alt=""></div>
                <ul class="clearfix clo">
                    <li class="active"><a href="./index.html">首页</a></li>
                    <li><a href="./play(酷玩)/play.html">酷玩</a></li>
                    <li><a href="./guid(导航)/guid.html">导购</a></li>
                    <li><a href="./use(试用)/use.html">试用</a></li>
                    <li><a href="./report(报告）/report.html">报告</a></li>
                </ul>
                <div>
                    <span class="btn" target="blank"><a href="https://www.baidu.com/"><i
                                class="fa fa-search"></i></a></span>
                    <button><a href="./up.html" target="blank">登录</a></button>
                    <button><a href="./regist.html" target="blank">注册</a></button>
                </div>
            </div>
        </div>
        <!--头部 end -->
        <div class="banner">
            <div class="bx banner_bx">
                <div class="right">
                    <p>幻响小贝HiFi2.1音箱</p>
                    <ul class="list">
                        <li>20台</li>
                        <li>￥599</li>
                        <li>126人申请</li>
                    </ul>
                    <div class="span_"> </div>
                    <button class="btns">立即申请</button>
                </div>
            </div>
        </div>
        <p class="bx">热门试用</p>
        <div class="bx">
            <div class="all">
                <span class="left_"><img src="./img/images/prev.png" alt=""></span>
                <span class="right_"><img src="./img/images/next.png" alt=""></span>
                <div class="out">

                    <div class="l_b">
                        <!-- 1.引入模板引擎 -->
                        <!-- <script src="./js/template-web.js"></script> -->
                        <!-- 2.准备容器 -->
                        <!-- <div class="ul_"></div> -->
                        <!-- 3.准备模板 -->
                        <!-- <script id="frist" type="text/html"> -->
                        <!-- {{each value}} -->
                        <div class="big">
                            <div><img src="./img/img/hot1.jpg" alt=""></div>
                            <h3>巴慕达 The Toaster 烤面包机</h3>
                            <div><span class="sp_1">2032</span><span class="sp_2">20台</span></div>
                            <p>1392申请</p>
                            <p class="sheng">剩余时间2天</p>
                        </div>
                        <div class="big">
                            <div><img src="./img/img/hot2.jpg" alt=""></div>
                            <h3>Osprey小鹰户外运动专业腰包</h3>
                            <div><span class="sp_1">2032</span><span class="sp_2">20台</span></div>
                            <p>1392申请</p>
                            <p class="sheng">查看试用名单</p>
                        </div>
                        <div class="big">
                            <div><img src="./img/img/hot3.jpg" alt=""></div>
                            <h3>Liquid Image 338 运动摄像眼镜</h3>
                            <div><span class="sp_1">2032</span><span class="sp_2">20台</span></div>
                            <p>1392申请</p>
                            <p class="sheng">剩余时间2天</p>
                        </div>
                        <div class="big">
                            <div><img src="./img/img/hot4.jpg" alt=""></div>
                            <h3>巴慕达 The Toaster 烤面包机</h3>
                            <div><span class="sp_1">2032</span><span class="sp_2">20台</span></div>
                            <p>1392申请</p>
                            <p class="sheng">剩余时间2天</p>
                        </div>
                        <!-- {{/each}} -->
                        <!-- </script> -->

                        <div class="big">
                            <div><img src="./img/img/hot5.jpg" alt=""></div>
                            <h3>巴慕达 The Toaster 烤面包机</h3>
                            <div><span class="sp_1">2032</span><span class="sp_2">20台</span></div>
                            <p>1392申请</p>
                            <p class="sheng">剩余时间2天</p>
                        </div>
                        <div class="big">
                            <div><img src="./img/img/hot6.jpg" alt=""></div>
                            <h3>巴慕达 The Toaster 烤面包机</h3>
                            <div><span class="sp_1">2032</span><span class="sp_2">20台</span></div>
                            <p>1392申请</p>
                            <p class="sheng">剩余时间2天</p>
                        </div>
                        <div class="big">
                            <div><img src="./img/img/hot7.jpg" alt=""></div>
                            <h3>巴慕达 The Toaster 烤面包机</h3>
                            <div><span class="sp_1">2032</span><span class="sp_2">20台</span></div>
                            <p>1392申请</p>
                            <p class="sheng">剩余时间2天</p>
                        </div>
                        <div class="big">
                            <div><img src="./img/img/hot8.jpg" alt=""></div>
                            <h3>巴慕达 The Toaster 烤面包机</h3>
                            <div><span class="sp_1">2032</span><span class="sp_2">20台</span></div>
                            <p>1392申请</p>
                            <p class="sheng">剩余时间2天</p>
                        </div>


                        <div class="big">
                            <div><img src="./img/img/hot9.jpg" alt=""></div>
                            <h3>巴慕达 The Toaster 烤面包机</h3>
                            <div><span class="sp_1">2032</span><span class="sp_2">20台</span></div>
                            <p>1392申请</p>
                            <p class="sheng">剩余时间2天</p>
                        </div>
                        <div class="big">
                            <div><img src="./img/img/hot10.jpg" alt=""></div>
                            <h3>巴慕达 The Toaster 烤面包机</h3>
                            <div><span class="sp_1">2032</span><span class="sp_2">20台</span></div>
                            <p>1392申请</p>
                            <p class="sheng">剩余时间2天</p>
                        </div>
                        <div class="big">
                            <div><img src="./img/img/hot11.jpg" alt=""></div>
                            <h3>巴慕达 The Toaster 烤面包机</h3>
                            <div><span class="sp_1">2032</span><span class="sp_2">20台</span></div>
                            <p>1392申请</p>
                            <p class="sheng">剩余时间2天</p>
                        </div>
                        <div class="big">
                            <div><img src="./img/img/hot12.jpg" alt=""></div>
                            <h3>巴慕达 The Toaster 烤面包机</h3>
                            <div><span class="sp_1">2032</span><span class="sp_2">20台</span></div>
                            <p>1392申请</p>
                            <p class="sheng">剩余时间2天</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="./js/index.js"></script>
    <section class="tem_two bx">
        <div class="bx">
            <h1 class="left">报告精选</h1>
            <div class="right">
                查看更多
                <img src="./img/images/readMore.png">
            </div>
        </div>
        <ul class="tem_two_ul">
        </ul>
    </section>
    <section class="tem_three bx">
        <div class="bx">
            <h1 class="left">导购精选</h1>
            <div class="right">
                查看更多
                <img src="./img/images/readMore.png">
            </div>
        </div>
        <ul class="tem_three_ul">
        </ul>
    </section>
    <div id="tem_one">
        <section class="tem_one bx">
            <div class="bx">
                <!-- <h1 class="left">发现酷玩</h1>
                <div class="right">
                    查看更多
                    <img src="./img/images/readMore.png">
                </div> -->
            </div>
            <ul class="tem_one_ul">
                <!-- 在这里 -->
            </ul>
        </section>
        <div class="circle bx">
            <div class="sh">
                <img src="./img/images/more.png"> 点击加载更多
            </div>
            <div class="hi">
                <img src="./img/images/loading-icon.gif" alt=""> 请稍后
            </div>
        </div>
    </div>
    <script>
    </script>
    <!--x 模板引擎start 1-->
    <!-- <script src="./js/template-web.js"></script> -->
    <script src="./js/template-web.js"></script>
    <script src="./js/index_tem.js"></script>
    <script type="text/html" id="tem">
        <!-- 
        <!--m 这里写渲染数据 -->
        {{each value}}
    <li>
        <img src={{$value.img}}>
        <p>{{$value.text}}</p>
        <div>
            <span>
                <img src="./img/images/xin.png" alt="">
                {{$value.like}}
            </span>
            <span>
                <img src="./img/images/xin.png" alt="">
                {{$value.words}}
            </span>
        </div>
    </li>
    {{/each}} -->
    </script>
    <!--  -->
    <script src="./js/jquery.min.js"></script>
    <script>
        function ajax_() {
            $.get('http://192.168.31.110:3000/guid/hot', function (a) {
                for (let i = 0; i < a.length; i++) {
                    $('.tem_one_ul').append(`
                    <li>
                <img src ="${$(a)[i].img}" class="imgs">
                <p>${$(a)[i].text}</p>
                </li>
                `)
                }
            })
        }
        // ajax_()
    </script>
    <!--  -->
    <!--x 模板引擎end 1-->
    <!--c 模板引擎start 2 -->
    <script type="text/html" id="tem2">
        {{each value}} {{if $value.num}}
        <li>
            <img src={{$value.img}}>
            <p class="po">{{$value.text}}</p>
            <span>{{$value.totalnum}}</span>
            <span>{{$value.num}}台</span>
            <p class="pt">
                <i>{{$value.apply}}</i>申请
            </p>
            <div>
                {{$value.info_ty}}
            </div>
        </li>
        {{/if}} {{/each}}
    </script>
    <!--c 模板引擎end 2 -->
    <!--c 模板引擎start 3 -->
    <script type="text/html" id="tem3">
        {{each value}} {{if $value.num}}
        <li>
            <img src={{$value.img}}>
            <p class="po">{{$value.text}}</p>
            <span>{{$value.totalnum}}</span>
            <span>{{$value.num}}台</span>
            <p class="pt">
                <i>{{$value.apply}}</i>申请
            </p>
            <div>
                {{$value.info_ty}}
            </div>
        </li>
        {{/if}} {{/each}}
    </script>
    <!--c 模板引擎end 3 -->
    <!--b 底部样式 start -->
    <section id="foot">
        <section class="footer bx">
            <div class="footer_left">
                <img src="./img/img/code.png">
            </div>
            <div class="footer_centre">
                <img src="./img/img/logoImg.jpg" alt="">
                <p>全球酷玩试用导购平台<br>酷·新奇·好玩·品质</p>
                <p>微信添加“JguoJguo”<br>获取我们的服务。</p>
            </div>
            <div class="footer_right">
                <dl>
                    <dt><a href="#">免费试用</a></dt>
                    <dd><a href="#">试用流程</a></dd>
                    <dd><a href="#">如何提高成功率</a></dd>
                </dl>
                <dl>
                    <dt><a href="#">友情链接</a></dt>
                    <dd>
                        <span>
                            <a href="#">智东西</a>
                        </span>
                        <span>
                            <a href="#">WEIBUSI</a>
                        </span>
                    </dd>
                    <dd>
                        <span>
                            <a href="#">搜狐IT</a>
                        </span>

                        <span>
                            <a href="#">腾讯科技</a>
                        </span>
                    </dd>
                    <dd>
                        <span>
                            <a href="#">搜狐数码</a>
                        </span>
                        <span>
                            <a href="#">凤凰科技</a>
                        </span>
                    </dd>
                    <dd>
                        <span>
                            <a href="#">凤凰数码 </a>
                        </span>
                        <span>
                            <a href="#">PConline</a>
                        </span>
                    </dd>
                    <dd>
                        <span>
                            <a href="#">泡泡网</a>
                        </span>
                        <span>
                            <a href="#">3W咖啡</a>
                        </span>
                    </dd>
                    <dd>
                        <span>
                            <a href="#">ZUK社区</a>
                        </span>
                        <span>
                            <a href="#">亿觅emie</a>
                        </span>
                    </dd>
                    <dd>
                        <span>
                            <a href="#">极客公园</a>
                        </span>
                        <span>
                            <a href="#">易迅易启玩</a>
                        </span>
                    </dd>
                    <dd>
                        <span>
                            <a href="#">果库</a>
                        </span>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <a href="#">购买攻略</a>
                    </dt>
                    <dd>
                        <a href="#">美亚海淘教程</a>
                    </dd>
                    <dd>
                        <a href="#">日亚海淘教程</a>
                    </dd>
                    <dd>
                        <a href="#">海淘转运攻略</a>
                    </dd>
                    <dd>
                        <a href="#">kickstarter 众筹购买攻略</a>
                    </dd>
                    <dd>
                        <a href="#">indiegogo 众筹购买攻略</a>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <a href="#">厂商合作</a>
                    </dt>
                    <dd>
                        <a href="#">关于极果</a>
                    </dd>
                    <dd>
                        <a href="#">联系我们</a>
                    </dd>
                    <dd>
                        <a href="#">商务合作：BD@jiguo.com</a>
                    </dd>
                    <dd>
                        <a href="#">CEO邮箱：CEO@jiguo.com</a>
                    </dd>
                </dl>
            </div>
            <p>© 2016 极果版权所有</p>
        </section>
        <div id="btn_">
            <a href="">
                <p>返</p>
                <p>回</p>
                <p>顶</p>
                <p>部</p>
            </a>
        </div>
    </section>
    <!--b 底部样式 end -->
</body>

</html>